{% extends 'base.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div class="hero">
        <div style="background-image:url({% static 'img/design/main.png' %})"
             class="hero__image"></div>
        <div class="layout__inner">
            <div class="hero__cont">
                <div class="hero__text">доставка <span>обедов</span></div>
            </div>
            <div class="hero__bottom">
                <div class="hero__bottom-text">СМОТРИ МЕНЮ НА СЕГОДНЯ<span></span></div>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="layout__inner">
            <div class="menu__cont">
                {% for item in basket.items.all %}
                    {% include 'main/include/menu_item.html' with dinner=item.dinner item=item %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if not user.is_authenticated %}
        <div class="order">
            <div class="form">
                <div class="form__title">ОФОРМИТЬ ЗАКАЗ</div>
                <div class="form__tab">
                    <div data-tab="tab_1" class="form__tab-item active">ВХОД
                    </div>
                    <div data-tab="tab_2" class="form__tab-item">РЕГИСТРАЦИЯ
                    </div>
                </div>
                <div data-tab="tab_1" class="form__item active">
                    <form class="form__this" action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form__line">
                            <div data-input="Номер телефона" class="input__cont input__phone">
                                <input id="id_phone" name="phone" class="input__this input__this-phone"/>
                            </div>
                        </div>
                        <div class="form__line">
                            <div data-input="Пароль" class="input__cont">
                                <input id="id_password" name="password" type="password" class="input__this"/>
                            </div>
                        </div>
                        <div class="form__bottom">
                            <button class="button">ПРОДОЛЖИТЬ</button>
                        </div>
                    </form>
                </div>
                <div data-tab="tab_2" class="form__item">
                    <form class="form__this" action="{% url 'registration' %}" method="post">
                        {% csrf_token %}
                        <div class="form__line">
                            <div data-input="Номер телефона" class="input__cont input__phone">
                                <input id="id_phone" name="phone" type="text" class="input__this input__this-phone"/>
                            </div>
                        </div>
                        <div class="form__line form__line-sms">
                            <button class="button__sms">Выслать SMS-код</button>
                            <div class="form__sms">
                                <div class="form__sms-text">SMS-КОД:</div>
                                <div class="form__sms-right">
                                    <input id="id_sms_code" name="sms_code" class="form__sms-input"/>
{#                                    <div class="form__sms-error">Неверный или пустой код</div>#}
                                </div>
                            </div>
                        </div>
                        <div class="form__line">
                            <div data-input="Пароль" class="input__cont">
                                <input id="id_password" name="password" type="password" class="input__this"/>
                            </div>
                        </div>
                        <div class="form__bottom">
                            <button class="button">РЕГИСТРАЦИЯ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        {% if not basket.address %}
            <div class="order">
                <div class="form">
                    <div class="form__title">ОФОРМИТЬ ЗАКАЗ</div>
                    <div class="form__desc">АДРЕС ДОСТАВКИ</div>
                    <form action="{% url 'add_address' %}" method="post" class="form__this">
                        {% csrf_token %}
                        <div class="form__line">
                            <div data-input="Ваш адрес " class="input__cont">
                                <input id="id_address" name="address" class="input__this"/>
                            </div>
                        </div>
                        <div class="form__more">Если все верно:</div>
                        <div class="form__bottom">
                            <button class="button">ПРОДОЛЖИТЬ</button>
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="order">
                <div class="form">
                    <div class="form__title">ОФОРМИТЬ ЗАКАЗ</div>
                    <div class="form__desc">УКАЗАТЬ ВРЕМЯ ДОСТАВКИ</div>
                    <form action="{% url 'add_delivery_time' %}" method="post" class="form__this">
                        {% csrf_token %}
                        <div class="form__line form__line-time">
                            <div class="form__time">
                                <input id="id_hours" name="hours" placeholder="00" class="form__time-input"/>
                            </div>
                            <div class="form__time">
                                <input id="id_minutes" name="minutes" placeholder="00" class="form__time-input"/>
                            </div>
                        </div>
                        <div class="form__bottom">
                            <button class="button">ПРОДОЛЖИТЬ</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}