{% extends 'base.html' %}
{% load static %}

{% block title %}
    Меню на неделю
{% endblock %}

{% block content %}
    <div class="weekly">
        <div class="weekly__inner">
            <div class="weekly__title">МЕНЮ НА НЕДЕЛЮ</div>
            <div class="weekly__date">
                {{ monday_date|date:'d.m.Y' }} - {{ friday_date|date:'d.m.Y' }}
            </div>
            <div class="weekly__cont">
                {% for daily_menu in weekly_menu %}
                    <div data-day="{{ daily_menu.date|date:'l' }}" class="weekly__line">
                        <div class="weekly__box">
                            {% for dinner in daily_menu.dinners.all %}
                                <div class="weekly__item">
                                    {% include 'main/include/menu_item.html' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}